.post {
  display: flex;
  flex-flow: column;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  border-radius: 5px;
  padding: 1em;
}

.postTitle {
  font-size: 1.2em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.commentText {
  font-size: 0.7em;
}

@media only screen and (max-width: 786px) {
  .post {
    gap: 0.5em;
    width: 100%;
  }

  .commentText {
    font-size: 0.8em;
  }
}
