.post {
  display: flex;
  flex-flow: column;
  color: white;
  padding: 1em;
}

.title {
  display: flex;
  font-size: 1.2em;
}

.input {
  min-height: 150px !important;
}

.input:focus {
  border: 1px solid #6609c3 !important;
  box-shadow: 0 0 0 1px #6609c3 !important;
}
