.navItemAccordion {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.navItemAccordionItem {
  border: none;
}

.navItemAccordionButton {
  display: flex;
  flex-flow: row;
  font-size: 15px;
  text-align: start;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  gap: 0.3em;
}
